@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
    /* Always show vertical scrollbar */
    transition: background-color 3s, color 3s;
    /* Smooth transition for background and text colors */
}

/* Custom Scroll Bar CSS */
* {
    scrollbar-color: #424242 #222222;
    /* Default: Gray thumb, Black track */
}

*:hover {
    scrollbar-color: #424242 #222222;
    /* Hover: White thumb, Black track */
}

/* Custom Scroll Bar CSS */

/* ========= Theme ========== */
:root {
    --background: #ffffff;
    --foreground: #000000;
}

.dark {
    --background: #000000;
    --foreground: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

/* ========= Theme ========== */


/* ========= Custom CSS fo Animation ========== */
/* fade transition when page loaded*/
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-left-right {
    from {
        opacity: 0;
        transform: translatex(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade-in-right-left {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes floating {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

.animate-fade-in {
    animation: fade-in 2s ease-in-out;
}

.animate-fade-in-up {
    animation: fade-in-up 1.5s ease-in-out;
}
.animate-fade-in-left-right{
    animation: fade-in-left-right 1.5s ease-in-out;
}
.animate-fade-in-right-left{
    animation: fade-in-right-left 1.5s ease-in-out;
}

.animate-floating {
    animation: floating 3s ease-in-out infinite;
}

/* fade transition when page loaded*/
@keyframes appearUp {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.animation-appearUp {
    animation: appearUp linear;
    animation-timeline: view();
    /*animate when element on screen*/
    animation-range: entry 0% cover 35%;
    /*entry 0% >>animate start when enter screen*/
    /*cover 30% >> animate finish when 30% of screen*/
}

/*Parallax Effect*/
.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ========= Custom CSS Animation ========== */

